@font-face {
  font-family: 'Bricolage Grotesque';
  src: local('Bricolage Grotesque'), url(./fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Bricolage Grotesque', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #C93500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
